<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="https://media.istockphoto.com/photos/worker-carrying-pipes-picture-id621838690?k=6&m=621838690&s=612x612&w=0&h=LqrqQ8A6U9JM_Iu-c-4KEhiGW_Kv_zlMCKUkCCdkGXQ=" />
    <% scaffolds.forEach(scaffold => { %>
      <fieldset>
        <legend><%= scaffold.name %></legend>
        <p><strong>Size: </strong> <%= scaffold.size %></p>
        <p><strong>Materials: </strong> <%= scaffold.material %></p>
      </fieldset>
    <% }) %>
  </body>
</html>
